/** Embedded SVGs for all chess pieces */
piece.black.pawn {
  background-image: url('/pieces/black_pawn.svg');
}
piece.black.rook {
  background-image: url('/pieces/black_rook.svg');
}
piece.black.knight {
  background-image: url('/pieces/black_knight.svg');
}
piece.black.bishop {
  background-image: url('/pieces/black_bishop.svg');
}
piece.black.queen {
  background-image: url('/pieces/black_queen.svg');
}
piece.black.king {
  background-image: url('/pieces/black_king.svg');
}

piece.white.pawn {
  background-image: url('/pieces/white_pawn.svg');
}
piece.white.rook {
  background-image: url('/pieces/white_rook.svg');
}
piece.white.knight {
  background-image: url('/pieces/white_knight.svg');
}
piece.white.bishop {
  background-image: url('/pieces/white_bishop.svg');
}
piece.white.queen {
  background-image: url('/pieces/white_queen.svg');
}
piece.white.king {
  background-image: url('/pieces/white_king.svg');
}

piece.black.king-pawn {
  background-image: url('/pieces/black_king_pawn.svg');
}
piece.black.king-rook {
  background-image: url('/pieces/black_king_rook.svg');
}
piece.black.king-knight {
  background-image: url('/pieces/black_king_knight.svg');
}
piece.black.king-bishop {
  background-image: url('/pieces/black_king_bishop.svg');
}
piece.black.king-queen {
  background-image: url('/pieces/black_king_queen.svg');
}

piece.white.king-pawn {
  background-image: url('/pieces/white_king_pawn.svg');
}
piece.white.king-rook {
  background-image: url('/pieces/white_king_rook.svg');
}
piece.white.king-knight {
  background-image: url('/pieces/white_king_knight.svg');
}
piece.white.king-bishop {
  background-image: url('/pieces/white_king_bishop.svg');
}
piece.white.king-queen {
  background-image: url('/pieces/white_king_queen.svg');
}
