@import url("/base_pieces.css");

div.illegal-text {
  position: relative;
  margin-top: 5%;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: darkred;
  font-weight: bold;
  font-size: 2em;
}
