@import url("/base_pieces.css");

piece.egg {
  background-image: url('/pieces/chakart_egg.svg');
}

piece.mushroom {
  background-image: url('/pieces/chakart_mushroom.svg');
}

piece.banana {
  background-image: url('/pieces/chakart_banana.svg');
}

piece.bomb {
  background-image: url('/pieces/chakart_bomb.svg');
}

piece.white.invisible {
  background-image: url('/pieces/empty.svg');
}
piece.black.invisible {
  background-image: url('/pieces/empty.svg');
}

piece.immobilized {
  background-color: lightgreen;
  opacity: 0.6;
}

piece.remote-capture {
  background-image: url('/pieces/chakart_shell.svg');
}

piece.mystery.white {
  background-image: url('/pieces/chakart_mystery_white.svg');
}
piece.mystery.black {
  background-image: url('/pieces/chakart_mystery_black.svg');
}

div.bonus-text {
  position: relative;
  margin-top: 5%;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: darkred;
  font-weight: bold;
  font-size: 2em;
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
