@import url("/base_pieces.css");

piece.egg {
  background-image: url('/pieces/chakart_egg.svg');
}

piece.mushroom {
  background-image: url('/pieces/chakart_mushroom.svg');
}

piece.banana {
  background-image: url('/pieces/chakart_banana.svg');
}

piece.bomb {
  background-image: url('/pieces/chakart_bomb.svg');
}

piece.white.invisible {
  background-image: url('/pieces/empty.svg');
}
piece.black.invisible {
  background-image: url('/pieces/empty.svg');
}

piece.immobilized {
  background-color: lightgreen;
  opacity: 0.6;
}

piece.remote-capture {
  background-image: url('/pieces/chakart_shell.svg');
}
