@import url("/base_pieces.css");

piece.egg {
  background-image: url('/variants/Chakart/pieces/egg.svg');
}

piece.mushroom {
  background-image: url('/variants/Chakart/pieces/mushroom.svg');
}

piece.banana {
  background-image: url('/variants/Chakart/pieces/banana.svg');
}

piece.bomb {
  background-image: url('/variants/Chakart/pieces/bomb.svg');
}

piece.white.invisible {
  background-image: url('/pieces/empty.svg');
}
piece.black.invisible {
  background-image: url('/pieces/empty.svg');
}

piece.immobilized {
  background-color: lightgreen;
  opacity: 0.6;
}

piece.remote-capture {
  background-image: url('/variants/Chakart/pieces/shell.svg');
}

piece.white.mystery {
  background-image: url('/pieces/white_mystery.svg');
}
piece.black.mystery {
  background-image: url('/pieces/black_mystery.svg');
}

div.bonus-text {
  position: relative;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: darkred;
  font-weight: bold;
  font-size: 2em;
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
