@import url("/base_pieces.css");

piece.black.royal_queen {
  background-image: url('/pieces/Coregal/black_royal_queen.svg');
}
piece.white.royal_queen {
  background-image: url('/pieces/Coregal/white_royal_queen.svg');
}

piece.black.castle {
  background-image: url('/pieces/black_castle.svg');
}
piece.white.castle {
  background-image: url('/pieces/white_castle.svg');
}
