.chessboard_SVG {
  background-color: #BA8C63;
}

piece.white.stone {
  background-image: url('/variants/Weiqi/pieces/black_stone.svg');
}
piece.black.stone {
  background-image: url('/variants/Weiqi/pieces/white_stone.svg');
}
