@import url("/base_pieces.css");

piece.checkered.pawn {
  background-image: url('/variants/Checkered/pieces/cp.svg');
}
piece.checkered.rook {
  background-image: url('/variants/Checkered/pieces/cr.svg');
}
piece.checkered.knight {
  background-image: url('/variants/Checkered/pieces/cn.svg');
}
piece.checkered.bishop {
  background-image: url('/variants/Checkered/pieces/cb.svg');
}
piece.checkered.queen {
  background-image: url('/variants/Checkered/pieces/cq.svg');
}

div.info-text {
  position: relative;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: darkblue;
  font-weight: bold;
  font-size: 2em;
}
