@import url("/base_pieces.css");

piece.checkered.pawn {
  background-image: url('/pieces/Checkered/checkered_pawn.svg');
}
piece.checkered.rook {
  background-image: url('/pieces/Checkered/checkered_rook.svg');
}
piece.checkered.knight {
  background-image: url('/pieces/Checkered/checkered_knight.svg');
}
piece.checkered.bishop {
  background-image: url('/pieces/Checkered/checkered_bishop.svg');
}
piece.checkered.queen {
  background-image: url('/pieces/Checkered/checkered_queen.svg');
}

div.info-text {
  position: relative;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: darkblue;
  font-weight: bold;
  font-size: 2em;
}
