@import url("/base_pieces.css");

piece.white.alice-pawn {
  background-image: url('/pieces/yellow_pawn.svg');
}
piece.white.alice-rook {
  background-image: url('/pieces/yellow_rook.svg');
}
piece.white.alice-knight {
  background-image: url('/pieces/yellow_knight.svg');
}
piece.white.alice-bishop {
  background-image: url('/pieces/yellow_bishop.svg');
}
piece.white.alice-queen {
  background-image: url('/pieces/yellow_queen.svg');
}
piece.white.alice-king {
  background-image: url('/pieces/yellow_king.svg');
}

piece.black.alice-pawn {
  background-image: url('/pieces/red_pawn.svg');
}
piece.black.alice-rook {
  background-image: url('/pieces/red_rook.svg');
}
piece.black.alice-knight {
  background-image: url('/pieces/red_knight.svg');
}
piece.black.alice-bishop {
  background-image: url('/pieces/red_bishop.svg');
}
piece.black.alice-queen {
  background-image: url('/pieces/red_queen.svg');
}
piece.black.alice-king {
  background-image: url('/pieces/red_king.svg');
}
