@import url("/base_pieces.css");

/* doesn't work:
@font-face {
  font-family: chess-font;
  src: url(/assets/FreeSerifBold-rdMp.otf);
} */

div.piece-text {
  position: relative;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: darkred;
  font-weight: bold;
  font-size: 1.7em;
}

/*
div.piece-text > span.symb {
  font-family: chess-font;
} */
