@import url("/base_pieces.css");

piece.white.jailer {
  background-image: url('/pieces/Eightpieces/white_jailer.svg');
}
piece.black.jailer {
  background-image: url('/pieces/Eightpieces/black_jailer.svg');
}

piece.white.sentry {
  background-image: url('/pieces/Eightpieces/white_sentry.svg');
}
piece.black.sentry {
  background-image: url('/pieces/Eightpieces/black_sentry.svg');
}

piece.white.lancer_N {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
}
piece.white.lancer_NE {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  rotate: 45deg;
}
piece.white.lancer_E {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  rotate: 90deg;
}
piece.white.lancer_SE {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  rotate: 135deg;
}
piece.white.lancer_S {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  rotate: 180deg;
}
piece.white.lancer_SO {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  rotate: 225deg;
}
piece.white.lancer_O {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  rotate: 270deg;
}
piece.white.lancer_NO {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  rotate: 315deg;
}

piece.black.lancer_N {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
}
piece.black.lancer_NE {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  rotate: 45deg;
}
piece.black.lancer_E {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  rotate: 90deg;
}
piece.black.lancer_SE {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  rotate: 135deg;
}
piece.black.lancer_S {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  rotate: 180deg;
}
piece.black.lancer_SO {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  rotate: 225deg;
}
piece.black.lancer_O {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  rotate: 270deg;
}
piece.black.lancer_NO {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  rotate: 315deg;
}
