@import url("/base_pieces.css");

piece.white_jailer {
  background-image: url('/pieces/Eightpieces/white_jailer.svg');
}
piece.black_jailer {
  background-image: url('/pieces/Eightpieces/black_jailer.svg');
}

piece.white_sentry {
  background-image: url('/pieces/Eightpieces/white_sentry.svg');
}
piece.black_sentry {
  background-image: url('/pieces/Eightpieces/black_sentry.svg');
}

piece.white_lancer_N {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
}
piece.white_lancer_NE {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  transform: rotate(45deg);
}
piece.white_lancer_E {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  transform: rotate(90deg);
}
piece.white_lancer_SE {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  transform: rotate(135deg);
}
piece.white_lancer_S {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  transform: rotate(180deg);
}
piece.white_lancer_SO {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  transform: rotate(225deg);
}
piece.white_lancer_O {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  transform: rotate(270deg);
}
piece.white_lancer_NO {
  background-image: url('/pieces/Eightpieces/white_lancer.svg');
  transform: rotate(315deg);
}

piece.black_lancer_N {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
}
piece.black_lancer_NE {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  transform: rotate(45deg);
}
piece.black_lancer_E {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  transform: rotate(90deg);
}
piece.black_lancer_SE {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  transform: rotate(135deg);
}
piece.black_lancer_S {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  transform: rotate(180deg);
}
piece.black_lancer_SO {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  transform: rotate(225deg);
}
piece.black_lancer_O {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  transform: rotate(270deg);
}
piece.black_lancer_NO {
  background-image: url('/pieces/Eightpieces/black_lancer.svg');
  transform: rotate(315deg);
}
