piece.white.stack {
  background-image: url('/pieces/Avalam/white_stack.svg');
}
piece.white.stack2 {
  background-image: url('/pieces/Avalam/white_stack2.svg');
}
piece.white.stack3 {
  background-image: url('/pieces/Avalam/white_stack3.svg');
}
piece.white.stack4 {
  background-image: url('/pieces/Avalam/white_stack4.svg');
}
piece.white.stack5 {
  background-image: url('/pieces/Avalam/white_stack5.svg');
}

piece.black.stack {
  background-image: url('/pieces/Avalam/black_stack.svg');
}
piece.black.stack2 {
  background-image: url('/pieces/Avalam/black_stack2.svg');
}
piece.black.stack3 {
  background-image: url('/pieces/Avalam/black_stack3.svg');
}
piece.black.stack4 {
  background-image: url('/pieces/Avalam/black_stack4.svg');
}
piece.black.stack5 {
  background-image: url('/pieces/Avalam/black_stack5.svg');
}

.board-sq {
  fill: grey;
}
